<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Departments</title>
    <link rel="stylesheet" href="../style/department.css">
    <link rel="shortcut icon" type="image/x-icon" href="../images/favicon.ico">

</head>

<body>

    <div class="banner">
        <div class="banner-text">
            <h1 class="big">Kennett High School</h1>
            <br>
            <h2 class="over">Program of Studies</h2>
        </div>
    </div>

    <div class="nav">
        <a href="../../index.html" class="navbutton">Home</a>

        <a href="../views/Departments.html" class="navbutton">Departments</a>

        <a href="../views/Requirements.html" class="navbutton">Requirements</a>

        <a href="" class="navbutton">FAQ</a>
    </div>

    <div>
        <h1>DEPARTMENTS</h1>
    </div>

    <div id="line">
        <p></p>
    </div>

    <div class="grid-container">
        <a href="https://www.khsmwv.com" target="_blank" class="grid-item">
           Career and Technical Education
        </a>

        <a href="https://www.khsmwv.com" target="_blank" class="grid-item">
            English
        </a>

        <a href="https://www.khsmwv.com" target="_blank" class="grid-item">
            Fine Arts
        </a>

        <a href="https://www.khsmwv.com" target="_blank" class="grid-item">
            Health and Physical Education
        </a>

        <a href="https://www.khsmwv.com" target="_blank" class="grid-item">
            Mathematics
        </a>

        <a href="https://www.khsmwv.com" target="_blank" class="grid-item">
            Science
        </a>

        <a href="https://www.khsmwv.com" target="_blank" class="grid-item">
            Social Studies
        </a>

        <a href="https://www.khsmwv.com" target="_blank" class="grid-item">
            World Language
        </a>

    </div>

    <br><br>

    <div id="footer">
        <footer>
            <p>Power by KHS Computer Science 2022</p>
        </footer>
    </div>

</body>

</html>