<head>
    <link rel="stylesheet" href="C:\Users\Minion-16\Desktop\program project\contentcss.css">
</head>

<body>
    

    <Div class="nav">
        <a href="" class="navbutton">Home</a>

        <a href="" class="navbutton">Departments</a>
        
        <a href="" class="navbutton">Requirements</a>

        <a href="" class="navbutton">FAQ</a>
    </Div>

    <Div class="table">
        <table class="content">
            <tbody>
                <tr class="AUGH">
                    <td class="Ooog">Class name</td>
                    <td class="Ooog">Grades allowed in</td>
                    <td class="Ooog">class description</td>
                    <td class="Ooog">credit</td>
                    <td class="Ooog">prerequisites</td>
                </tr>
                <tr class="AUGH">
                    <td class="Ooog">Foundations of Studio Arts</td>
                    <td class="Ooog">all</td>
                    <td class="Ooog">Do you have a passion for art? Are you constantly sketching or doodling? This course will help
                        you expand your knowledge and refine your techniques. Students will take a hands-on approach
                        to the foundational elements and principles of art. A variety of materials will be explored through
                        drawing, painting, sculpture, and design. Either Creative Expression or Foundations of Art are a
                        prerequisite for all other courses. </td>
                    <td class="Ooog">.5 credits in fine arts</td>
                    <td class="Ooog">None</td>
                </tr>
                <tr>
                    <td class="Ooog">Creative Expression</td>
                    <td class="Ooog">all</td>
                    <td class="Ooog">Does art intimidate you? Have you ever said, “I can’t draw”? This course is for you! In creative
                        expression, we will explore a variety of materials and techniques for the “non-artist”. Art, like any
                        other sport or hobby, is a learned skill. In this course, you will learn how to challenge yourself,
                        creatively problem-solve, and persist for improvement, not perfection. Experimentation, good
                        craftsmanship, and use of the creative process will be stressed through this hands-on course. Either
                        Creative Expression or Foundations of Art are a prerequisite for all other courses. </td>
                    <td class="Ooog">.5 credits in fine arts</td>
                    <td class="Ooog">None</td>
                </tr>
                <tr>
                    <td class="Ooog">Drawing and Painting I</td>
                    <td class="Ooog">all</td>
                    <td class="Ooog">This is a fair step up in difficulty from it's prerequisites, be sure you want this class. Students will dive into the basic techniques of 2-dimensional media, composition, and aesthetics.
                        Through projects, students will explore the vast processes, applications, and challenges of
                        drawing, painting, and mixed media. For example, drawing and painting techniques such as
                        stippling, impasto, and underpainting will be practiced. </td>
                    <td class="Ooog">.5 credits in fine arts</td>
                    <td class="Ooog">Creative Expression or Foundations of Studio Arts</td>
                </tr>
                <tr>
                    <td class="Ooog">Drawing and Painting II</td>
                    <td class="Ooog">10 & up</td>
                    <td class="Ooog">This is an advanced visual art course designed to build on the skills learned during Drawing & Painting
                        I. The studio-based curriculum challenges students to make independent artistic decisions on
                        mediums, processes, and composition. Thematic prompts will provide students with a jumping-off
                        point or problem to solve using the creative process to explore, plan, and create artwork. Students
                        will have the opportunity to work with peers offering one another feedback and encouragement to
                        explore personal voice and style development. 
                        </td>
                    <td class="Ooog">1 credit in fine arts</td>
                    <td class="Ooog">Drawing and Painting I</td>
                </tr>
                <tr>
                    <td class="Ooog">Ceramics and Sculpture I</td>
                    <td class="Ooog">10 & up</td>
                    <td class="Ooog">Students will dive into the basic techniques of 3-dimensional media, composition, and aesthetics.
                        Through projects, students will explore the vast processes, applications, and challenges of
                        ceramics, sculpture, and craft. For example ceramic and sculpture techniques such as hand
                        building, throwing, and assemblage will be practiced.</td>
                    <td class="Ooog">.5 credits in fine arts</td>
                    <td class="Ooog">Creative Expression or Foundations of Studio Arts</td>                    
                </tr>
                <tr>
                    <td class="Ooog">Ceramics and Sculpture II</td>
                    <td class="Ooog">10 & up</td>
                    <td class="Ooog">Is an advanced visual art course designed to build on the skills learned during Ceramics &
                        Sculpture I. The studio-based curriculum challenges students to make independent artistic
                        decisions on mediums, processes, and composition. Thematic prompts will provide students with
                        a jumping-off point or problem to solve using the creative process to explore, plan, and create
                        artwork. Students will have the opportunity to work with peers offering one another feedback and
                        encouragement to explore personal voice and style development.</td>
                    <td class="Ooog">1 credit in fine arts</td>
                    <td class="Ooog">Ceramics and Sculpture I</td>
                </tr>
                <tr>
                    <td class="Ooog">Portfolio I</td>
                    <td class="Ooog">11 & up</td>
                    <td class="Ooog">Portfolio is a course designed for the self-motivated artist. After completing the prerequisite
                        courses students should have a strong foundation of skills and are beginning to develop their
                        personal voice. Students' techniques will be fine-tuned by completing a breath section of the
                        course's first semester in which students will challenge themselves to display a variety of
                        techniques and expressions. </td>
                    <td class="Ooog">1 credit in fine arts</td>
                    <td class="Ooog">Drawing & Painting II OR Ceramics & Sculpture II 
                    </td>
                </tr>
                <tr>
                    <td class="Ooog">Portfolio II</td>
                    <td class="Ooog">11 & up</td>
                    <td class="Ooog">Portfolio is a course designed for self-motivated artists. After completing the prerequisite courses
                        students should have a strong foundation of skills and are beginning to develop their personal
                        voice. This course will focus on a concentration on the artists’ personal choices. Multiple mediums
                        can be used but an overall theme will be explored. Artwork combined from Portfolio Part I & II
                        will provide students with a comprehensive body of work they can use as an entrance to college
                        or artistic field. </td>
                    <td class="Ooog">1 credit in fine arts</td>
                    <td class="Ooog">Portfolio I</td>
                </tr>
                <tr>
                    <td class="Ooog">Performing Arts Workshop</td>
                    <td class="Ooog">all</td>
                    <td class="Ooog">This course is for students who want to create projects based on their individual interests, ideas,
                        and artistic nature in the areas of Dance, Theater, and Music. This class develops the ability to
                        experiment with your abilities and freely explore the performing arts in an inspirational
                        environment. Choices for this class could include things like Choreography, Lighting and Sound
                        Design, Composition, Tap Dance, Costume Design, and improving techniques in either acting,
                        specific dance styles, or singing. Students could also choose to explore historical backgrounds of
                        the arts or performing arts in other cultures.
                        Students will develop their own, unique assignments to increase subject area knowledge, basing
                        these assignments on what they like best about either Dance, Theater, or music. Any level of ability
                        is welcome. The teacher will help with project development and achievement of Key Learning
                        Targets. You will share your projects with each other during class. This course is designed to give
                        students real-world experience working with local non-profit arts organizations for those who wish
                        to have an extended learning opportunity.</td>
                    <td class="Ooog">.5 credits in fine arts</td>
                    <td class="Ooog">none</td>
                </tr>                         
                <tr>
                    <td class="Ooog">Introduction to Theater</td>
                    <td class="Ooog">all</td>
                    <td class="Ooog">Introduction to Theater will introduce students to the basic techniques of acting and improvisation,
                        as well as a brief history of theater and theatrical styles. Students will explore the use of speech
                        techniques, body language, facial expressions, blocking, and many other skills associated with
                        becoming an actor. Students will be encouraged to explore their creative potential in a workshop
                        setting, through a variety of classroom activities. Assessments will be focused on and consist of
                        performance, tests & quizzes, and interpretive reading and writing. </td>
                    <td class="Ooog">.5 credits in fine arts</td>
                    <td class="Ooog">none</td>                    
                </tr>
                <tr>
                    <td class="Ooog">Introduction to Technical Theater</td>
                    <td class="Ooog">all</td>
                    <td class="Ooog">The course is an exploration of the duties of stage technicians and their contribution to the total
                        aesthetic effect of a dramatic production. Topics covered will include:
                        ● design research and principles
                        ● scene design
                        ● equipment use and maintenance
                        ● principles and application of sound, lighting, and computer technology
                        ● the use of special effects, costume and makeup considerations, and selection
                        ● publicity and business management
                        ● theater safety
                        ● the function of technical stage personnel in production work.
                        Technical theater will incorporate academic study and hands-on application of knowledge and
                        skills. 
                        </td>
                    <td class="Ooog">.5 credits in fine arts</td>
                    <td class="Ooog">none</td>                           
                </tr>   
            </tbody>
        </table>

    </Div>
</body>