<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Requirements</title>
    <link rel="stylesheet" href="../style/requirements.css">
    <link rel="shortcut icon" type="image/x-icon" href="../images/favicon.ico">

</head>

<body>

    <div class="banner">
        <div class="banner-text">
            <h1 style="font-size:4.3vw;">Kennett High School</h1>
            <br>
            <h2 class="over" style="font-size:1vw;">Program of Studies</h2>
        </div>
    </div>

    <div class="nav">
        <a href="../../index.html" class="navbutton">Home</a>

        <a href="../views/Departments.html" class="navbutton">Departments</a>

        <a href="../views/Requirements.html" class="navbutton">Requirements</a>

        <a href="" class="navbutton">FAQ</a>
    </div>

    <div>
        <h1>REQUIREMENTS</h1>
    </div>

    <div id="line">
        <p></p>
    </div>

    <ul class="cards">
        <li class="cards__item">
            <div class="card">
                <div class="card__content">
                    <div class="card__title">Mathematics</div>
                    <p class="card__text">
                        <p>Students need 3.0 credits total.<br> (not including fourth year math expierience)</p>
                        <button class="btn btn--block card__btn">Read More</button>
                </div>
            </div>
        </li>
        <li class="cards__item">
            <div class="card">
                <div class="card__content">
                    <div class="card__title">English /<br> Communication</div>
                    <p class="card__text">Students need 4.0 credits total.</p>
                    <button class="btn btn--block card__btn">Button</button>
                </div>
            </div>
        </li>
        <li class="cards__item">
            <div class="card">
                <div class="card__content">
                    <div class="card__title">Science</div>
                    <p class="card__text">Students need 3.0 credits total. (Including 1.0 credit of Physical Science and 1.0 credit of Biology)</p>
                    <button class="btn btn--block card__btn">Button</button>
                </div>
            </div>
        </li>
    </ul>

    <!-- <ul class="row">
        <div class="card">
            <div class="card-content">
                <h2>Mathematics</h2>
                <p>Students need 3.0 credits total.</p><br>
                <p>(not including fourth year math expierience)</p>
            </div>
            <a href="#" class="card-button">Read More</a>
        </div>
        <div class="card">
            <div class="card-content">
                <h2>English /<br> Communication </h2>
                <p>Students need 4.0 credits total.</p>
            </div>
            <a href="#" class="card-button">Read More</a>
        </div>
        <div class="card">
            <div class="card-content">
                <h2>Science</h2>
                <p>Students need 3.0 credits total.</p><br>
                <p>(Including 1.0 credit of Physical Science and 1.0 credit of Biology)</p>
            </div>
            <a href="#" class="card-button">Read More</a>
        </div>

        <div class="card">
            <h2>Health Education</h2>
            <p>Students need .5 credit total</p><br>
            <a href="#" class="btn">Read More</a>
        </div>
        <div class="card">
            <h2>Physical Education </h2>
            <p>Students need 1.0 credit total.</p>
            <a href="#" class="btn">Read More</a>
        </div>
        <div class="card">
            <h2>Focus Area Electives</h2>
            <p>Students need 3.0 credits total.</p><br>
            <a href="#" class="btn">Read More</a>
        </div>

        <div class="card">
            <h2>U.S and New Hampshire History<br> </h2>
            <p>Students need 1.0 credit total</p><br>
            <a href="#" class="btn">Read More</a>
        </div>
        <div class="card">
            <h2>U.S and New Hampshire Government (Civics or equivalent)</h2>
            <p>Students need 1.0 credit total.</p>
            <a href="#" class="btn">Read More</a>
        </div>
        <div class="card">
            <h2>World Cultures, World History, or History Elective</h2>
            <p>Students must take 1.0 credit of History</p><br>
            <a href="#" class="btn">Read More</a>
        </div>
    </div> -->

    <br><br>

    <div id="footer">
        <footer>
            <p>Power by KHS Computer Science 2022</p>
        </footer>
    </div>
    </div>
</body>

</html>