<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Requirements</title>
    <link rel="stylesheet" href="../style/requirements.css">
    <link rel="shortcut icon" type="image/x-icon" href="../images/favicon.ico">

</head>

<body>

    <div class="banner">
        <div class="banner-text">
            <h1 class="big">Kennett High School</h1>
            <br>
            <h2 class="over">Program of Studies</h2>
        </div>
    </div>

    <div class="nav">
        <a href="../../index.html" class="navbutton">Home</a>

        <a href="../views/Departments.html" class="navbutton">Departments</a>

        <a href="../views/Requirements.html" class="navbutton">Requirements</a>

        <a href="" class="navbutton">FAQ</a>
    </div>

    <div>
        <h1>REQUIREMENTS</h1>
    </div>

    <div id="line">
        <p></p>
    </div>

    <ul class="cards">
        <li class="cards__item">
            <div class="card">
                <div class="card__content">
                    <div class="card__title">Mathematics</div>
                    <p class="card__text">
                        <p>Students need 3.0 credits total.<br> (not including fourth year math expierience)</p>
                        <button class="btn btn--block card__btn">Read More</button>
                </div>
            </div>
        </li>
        <li class="cards__item">
            <div class="card">
                <div class="card__content">
                    <div class="card__title">English /<br> Communication</div>
                    <p class="card__text">Students need 4.0 credits total.</p>
                    <button class="btn btn--block card__btn">Read More</button>
                </div>
            </div>
        </li>
        <li class="cards__item">
            <div class="card">
                <div class="card__content">
                    <div class="card__title">Science</div>
                    <p class="card__text">Students need 3.0 credits total. (Including 1.0 credit of Physical Science and 1.0 credit of Biology)</p>
                    <button class="btn btn--block card__btn">Read More</button>
                </div>
            </div>
        </li>
        <li class="cards__item">
            <div class="card">
                <div class="card__content">
                    <div class="card__title">Health Education</div>
                    <p class="card__text">Students need .5 credit total</p>
                    <button class="btn btn--block card__btn">Read More</button>
                </div>
            </div>
        </li>
        <li class="cards__item">
            <div class="card">
                <div class="card__content">
                    <div class="card__title">Physical Education</div>
                    <p class="card__text">Students need 1.0 credit total</p>
                    <button class="btn btn--block card__btn">Read More</button>
                </div>
            </div>
        </li>
        <li class="cards__item">
            <div class="card">
                <div class="card__content">
                    <div class="card__title">Focus Area Electives</div>
                    <p class="card__text">Students need 3.0 credits total</p>
                    <button class="btn btn--block card__btn">Read More</button>
                </div>
            </div>
        </li>
        <li class="cards__item">
            <div class="card">
                <div class="card__content">
                    <div class="card__title">U.S and New Hampshire History</div>
                    <p class="card__text">Students need 1.0 credit total</p>
                    <button class="btn btn--block card__btn">Read More</button>
                </div>
            </div>
        </li>
        <li class="cards__item">
            <div class="card">
                <div class="card__content">
                    <div class="card__title">U.S and New Hampshire Government (Civics or equivalent)</div>
                    <p class="card__text">Students need 1.0 credit total</p>
                    <button class="btn btn--block card__btn">Read More</button>
                </div>
            </div>
        </li>
        <li class="cards__item">
            <div class="card">
                <div class="card__content">
                    <div class="card__title">World Cultures, World History, or History Elective</div>
                    <p class="card__text">Students must take 1.0 credit of History</p>
                    <button class="btn btn--block card__btn">Read More</button>
                </div>
            </div>
        </li>
        <li class="cards__item">
            <div class="card">
                <div class="card__content">
                    <div class="card__title">Economics</div>
                    <p class="card__text">Students need .5 credits total</p>
                    <button class="btn btn--block card__btn">Read More</button>
                </div>
            </div>
        </li>
        <li class="cards__item">
            <div class="card">
                <div class="card__content">
                    <div class="card__title">Information and Communication Technology</div>
                    <p class="card__text">Students need .5 credits total</p>
                    <button class="btn btn--block card__btn">Read More</button>
                </div>
            </div>
        </li>
        <li class="cards__item">
            <div class="card">
                <div class="card__content">
                    <div class="card__title">The Arts (Music, Drama, Art or Visual Arts)</div>
                    <p class="card__text">Students must take .5 credits total</p>
                    <button class="btn btn--block card__btn">Read More</button>
                </div>
            </div>
        </li>
        <li class="cards__item">
            <div class="card">
                <div class="card__content">
                    <div class="card__title">Personal Finance (Starting with the class of 2024)</div>
                    <p class="card__text">Students need .5 credits total</p>
                    <button class="btn btn--block card__btn">Read More</button>
                </div>
            </div>
        </li>
        <li class="cards__item">
            <div class="card">
                <div class="card__content">
                    <div class="card__title">Career and Technical Education</div>
                    <p class="card__text">Students need .5 credits total</p>
                    <button class="btn btn--block card__btn">Read More</button>
                </div>
            </div>
        </li>
        <li class="cards__item">
            <div class="card">
                <div class="card__content">
                    <div class="card__title">Other Electives</div>
                    <p class="card__text">Students must take 5.0 credits total</p>
                    <button class="btn btn--block card__btn">Read More</button>
                </div>
            </div>
        </li>
    </ul>

    <br>
    <h3>STUDENTS NEED 25.0 CREDITS TOTAL TO GRADUATE</h3>
    <br>

    <div id="footer">
        <footer>
            <p>Power by KHS Computer Science 2022</p>
        </footer>
    </div>
    </div>
</body>

</html>