<head>
    <link rel="stylesheet" href="C:\Users\Minion-16\Desktop\program project\contentcss.css">
</head>

<body>
    

    <Div class="nav">
        <a href="" class="navbutton">Home</a>

        <a href="" class="navbutton">Departments</a>
        
        <a href="" class="navbutton">Requirements</a>

        <a href="" class="navbutton">FAQ</a>
    </Div>

    <p class="warning">It is much better to learn a language in your 20s at this point, as that's when the english hard-wiring loosens enough to help you learn. Colleges will likely not look at your world languages credits anyway. These are not a requirement for graduation. If your counslar says they are, they're clearly out of touch and don't know what they are doing. It is in YOUR best interest to pick classes YOU are interested in, and that YOU think will be relavent to what YOU WANT to do later in life. If your counslar goes against that, you either didn't choose enough classes, OR THEY DO NOT HAVE YOUR BEST INTERESTS IN MIND</p>

    <Div class="table">
        <table class="content">
            <tbody>
                <tr class="AUGH">
                    <td class="Ooog">Class name</td>
                    <td class="Ooog">Grades allowed in</td>
                    <td class="Ooog">class description</td>
                    <td class="Ooog">credit</td>
                    <td class="Ooog">prerequisites</td>
                </tr>
                <tr>
                    <td class="Ooog">French I</td>
                    <td class="Ooog">all</td>
                    <td class="Ooog">This course introduces French to students as a language spoken widely throughout the world. The
                        course focuses on the use of all four language skills; listening, speaking, reading, and writing.
                        Basic grammar and present tense verbs will be studied as well as basic vocabulary necessary for
                        elementary communication. The culture of the French-speaking world is focused on throughout
                        the course. Oral participation is required. </td>
                    <td class="Ooog">1 credit in world languages</td>
                    <td class="Ooog">None</td>
                </tr>
                <tr>
                    <td class="Ooog">French II standard</td>
                    <td class="Ooog">all</td>
                    <td class="Ooog">This is a continuation of French I, presenting more complex French structures and expanding the
                        students’ knowledge of French. Students will attain a higher degree of proficiency in speaking,
                        listening, reading, and writing, including reflexive and stem-changing verbs and the past tense.
                        Students’ knowledge and appreciation of diverse countries are increased through a focus on the
                        culture of the French-speaking world. Oral participation is required.</td>
                    <td class="Ooog">1 credit in world languages</td>
                    <td class="Ooog">French I and Placement Points</td>
                </tr>
                <tr>
                    <td class="Ooog">French II advanced</td>
                    <td class="Ooog">all</td>
                    <td class="Ooog">This course is a continuation of French I for students who have demonstrated commitment and
                        proficiency in the language. Students will continue to improve their listening, speaking, reading,
                        and writing skills, as well as deepen their knowledge of the culture of the French-speaking
                        world. By the end of this course, students will be able to talk about past events and future
                        occurrences. During the second semester, students are required to function primarily using the
                        French language and speak in French daily.</td>
                    <td class="Ooog">1 credit in world languages</td>
                    <td class="Ooog">French I and Placement Points</td>
                </tr>
                <tr>
                    <td class="Ooog">French III standard</td>
                    <td class="Ooog">10+</td>
                    <td class="Ooog">This course is a continuation of French II and is for students who have demonstrated commitment
                        and proficiency in the language. Students will explore their immediate daily surroundings in
                        French. By the end of the course, they will be able to talk about past events and future occurrences.
                        Oral participation is required.</td>
                    <td class="Ooog">1 credit in world languages</td>
                    <td class="Ooog">French II standard and Placement Points</td>
                </tr>
                <tr>
                    <td class="Ooog">French III advanced</td>
                    <td class="Ooog">10+</td>
                    <td class="Ooog">This course is designed for students who are committed to continuing the development of their
                        French skills. Structure and grammar are strongly emphasized. Students will complete more indepth readings and discussions on cultural topics regarding the French-speaking world. Students
                        are required to function primarily using the French language and speak in French daily.</td>
                    <td class="Ooog">1 credit in world languages</td>
                    <td class="Ooog">French II advanced and Placement Points</td>
                </tr>
                <tr>
                    <td class="Ooog">French IV</td>
                    <td class="Ooog">10+</td>
                    <td class="Ooog">This course is designed to increase French fluency and communication skills. There will be a
                        comprehensive review of grammatical structures, a variety of reading selections, culturally-based
                        discussions, and podcasts. Oral participation is emphasized, and students will be expected to
                        function primarily using the French language. This course is available to students who have
                        completed French III Advanced.</td>
                    <td class="Ooog">1 credit in world languages</td>
                    <td class="Ooog">French III advanced and Placement Points</td>                    
                </tr>
                <tr>
                    <td class="Ooog">Spanish I</td>
                    <td class="Ooog">all</td>
                    <td class="Ooog">This course introduces Spanish to students in the context of the culture of the Spanish-speaking
                        world. The course will stress the use of all four language skills: speaking, listening, reading, and
                        writing. Basic grammar and vocabulary necessary for elementary communication will be
                        studied. Oral participation is required.</td>
                    <td class="Ooog">None</td>
                </tr>
                <tr>
                    <td class="Ooog">Spanish II standard</td>
                    <td class="Ooog">all</td>
                    <td class="Ooog">This is a continuation of Spanish I, presenting more complex Spanish structures and expanding
                        the student’s knowledge of Spanish. Students will attain a higher degree of proficiency in
                        speaking, listening, reading, and writing, including reflexive verbs and past tenses.</td>
                    <td class="Ooog">1 credit in world languages</td>
                    <td class="Ooog">Spanish I and Placement Points</td>
                </tr>
                <tr>
                    <td class="Ooog">Spanish II advanced</td>
                    <td class="Ooog">all</td>
                    <td class="Ooog">This course is a continuation of Spanish I and is for students who have demonstrated commitment
                        and proficiency in the language. Students will explore their immediate daily surroundings in
                        Spanish. By the end of the course, they will be able to talk about past events and future
                        occurrences. Oral participation is required. During the second half of the course, students are
                        required to function primarily using the Spanish language and speak in Spanish daily.</td>
                    <td class="Ooog">1 credit in world languages</td>
                    <td class="Ooog">Spanish I and Placement Points</td>
                </tr>
                <tr>
                    <td class="Ooog">Spanish III standard</td>
                    <td class="Ooog">10+</td>
                    <td class="Ooog">As a continuation of Spanish, this class will fulfill the admission requirement of many colleges.
                        This class focuses on strengthening the students’ foundation in basic Spanish skills. Basic grammar
                        and vocabulary will be reviewed while students continue to work on past and future tenses.</td>
                    <td class="Ooog">1 credit in world languages</td>
                    <td class="Ooog">Spanish II standard and Placement Points</td>
                </tr>
                <tr>
                    <td class="Ooog">Spanish III advanced</td>
                    <td class="Ooog">10+</td>
                    <td class="Ooog">This course is geared toward students who are committed to continuing the development of their
                        Spanish. Structure and grammar are strongly emphasized. In its pace and demands, the course will
                        focus equally on all four communication skills. Students are required to function primarily using
                        the Spanish language and speak in Spanish daily.</td>
                    <td class="Ooog">1 credit in world languages</td>
                    <td class="Ooog">Spanish II advanced and Placement Points</td>
                </tr>
                <tr>
                    <td class="Ooog">Spanish IV</td>
                    <td class="Ooog">11+</td>
                    <td class="Ooog">The primary focus of this course is on improving the students’ ability to express themselves
                        spontaneously in Spanish. Students will continue their exploration of the subjunctive
                        tenses. Themes from the AP test will be a guide for the units of this course. Students will be
                        expected to function primarily using the Spanish language and speak in Spanish daily.</td>
                    <td class="Ooog">1 credit in world languages</td>
                    <td class="Ooog">Spanish III advanced and Placement Points</td>                    
                </tr>        
                <tr>
                    <td class="Ooog">Spanish V</td>
                    <td class="Ooog">12</td>
                    <td class="Ooog">This course is on par with the difficulty of an advanced-level college Spanish class. This intensive
                        course will emphasize the use of language for active communication. Writing, reading, listening,
                        and speaking skills will be honed through practice with authentic materials in the target
                        language. There will be extensive practice in organizing and writing compositions.
                        The goals of this class are: Students will be able to express themselves fluently and accurately both
                        orally and in writing and will have a strong command of advanced vocabulary, grammar, and
                        structure.</td>
                    <td class="Ooog">1 credit in world languages</td>
                    <td class="Ooog">Spanish IV advanced and Placement Points</td>                    
                </tr>                        
            </tbody>
        </table>

    </Div>
</body>