@font-face {
    font-family: 'Nevis';
    src: url('Nevis\ Bold.ttf') format('truetype');
}

* {
    font-family: Nevis;
    margin: 0;
    padding: 0;
}


/*****************
    - Banner -
*****************/

.banner {
    background-color: black;
    height: 400px;
    border-bottom: 12px solid #c0b460;
}

@media only screen and (min-width: 600px) {
    .banner {
        height: 200px;
    }
}

@media only screen and (min-width: 768px) {
    .banner {
        height: 300px;
    }
}

@media only screen and (max-width: 1260px) {
    .banner {
        height: 400px;
    }
}

.banner-text {
    text-align: center;
    padding: 30px;
    color: white;
}

.over {
    text-decoration: overline;
    text-decoration-color: #c0b460;
    text-decoration-thickness: 3px;
    letter-spacing: 1px;
    font-size: larger;
}

@media screen and (max-width: 600px) {
    p.text {
        font-size: 30px;
    }
}

@media screen and (min-width: 700px) {
    p.text {
        font-size: 25px;
    }
}

@media screen and (max-width: 699px) {
    p.text {
        font-size: 16px;
    }
}


/****************
    - Nav -
****************/

.nav {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.navbutton {
    display: flex;
    text-decoration: none;
    background-color: #BBBBBB;
    color: #000000;
    padding: 10px;
    font-size: 100%;
    border: 10px solid #C0B460;
    width: 25%;
    justify-content: center;
}

.navbutton:hover {
    background-color: black;
    color: #C0B460;
    border: 10px dotted #C0B460;
}

.navbutton:active {
    color: #ffffff;
    background-color: #A09857;
}

@media (min-device-width: 375px) {
    .navbutton {
        font-size: 30px;
    }
}


/****************
    - Body -
****************/

h1 {
    text-align: center;
    font-size: 70px;
    margin-bottom: 0px;
}

#line {
    background-color: #c0b460;
    border-radius: 15px;
    margin: auto;
    width: 15%;
    padding: 10px;
    margin-top: 20px;
    margin-bottom: 100px;
}

.btn {
    margin: 22px 0;
    font-size: large;
    background: black;
    color: white;
    text-decoration: none;
    text-transform: uppercase;
    border: 1px solid black;
    padding: 5px;
    border-radius: 25px;
    transition: .3s ease;
}

.btn--block {
    display: block;
    width: 100%;
}

.cards {
    display: flex;
    flex-wrap: wrap;
    list-style: none;
    justify-content: space-between;
    background-color: #c0b460;
    padding: 15px;
    margin-left: 120px;
    margin-right: 120px;
    border-radius: 15px;
}

.cards__item {
    display: flex;
    padding: 1rem;
    overflow-wrap: normal;
    @media(min-width: 40rem) {
        width: 50%;
    }
    @media(min-width: 56rem) {
        width: 33.3333%;
    }
}

.card {
    background-color: white;
    border-radius: 0.25rem;
    box-shadow: 0 20px 40px -14px rgba(0, 0, 0, 0.25);
    display: flex;
    flex-direction: column;
    overflow: hidden;
}

.card__content {
    display: flex;
    flex: 1 1 auto;
    flex-direction: column;
    padding: 1rem;
}

.card__title {
    color: black;
    font-size: 1.25rem;
    font-weight: 300;
    letter-spacing: 2px;
    text-transform: uppercase;
}

.card__text {
    flex: 1 1 auto;
    font-size: 0.875rem;
    line-height: 1.5;
    margin-bottom: 1.25rem;
}


/* .row {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    background-color: #c0b460;
    padding: 15px;
    margin-left: 120px;
    margin-right: 120px;
    border-radius: 15px;
}

.card {
    width: 25%;
    max-height: 15%;
    min-width: 150px;
    background-color: rgba(255, 255, 255, 0.8);
    border-radius: 15px;
    padding: 15px;
    text-align: center;
    border: 10px solid #020202;
    display: flex;
    flex-direction: column;
}

.card-content {
    font-size: 2wv;
}

.card-button {
    margin: 22px 0;
    font-size: large;
    background: black;
    color: white;
    text-decoration: none;
    text-transform: uppercase;
    border: 1px solid black;
    padding: 5px;
    border-radius: 25px;
    transition: .3s ease;
}

.col:hover {
    background-color: #ffffff;
}

a:visited {
    color: #ffffff;
} */


/******************
    - Footer -
******************/

#footer {
    text-align: center;
    color: white;
    background-color: black;
    padding-top: 20px;
    padding-bottom: 80px;
    border-top: #c0b460 solid 12px;
}

#linkContent {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin: 20px;
}

#linkContent p {
    text-align: center;
}